/* html elements */

/**
 * The default font size is 16px x 81.3% = 13px
 * Use http://pxtoem.com to calculate proper font size and scale.
 *
 * The font size is set on the html element so we can dynamically
 * resize the font using body classes.
 */
html {
  font-size: 81.3%;
}
body {
  font-family:'Asap', sans-serif;
  background:url(images/bg.png) top center fixed #EEEDE6;
  line-height:1.8;
  color:#222;
}

h1 {
  font-size: 1.538em;
  margin: 0 0 15px 30px;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.077em;
}
h5,
h6 {
  font-size: 1em;
}
a img {
  border: none;
}
img {
  max-width: 100%; /* flexible images - can cause issues in table cells where no width is set on the column, only in webkit and IE 7/8 */
  height: auto;
}

#content {
	padding-right: 40px;
	margin-bottom: 40px;
}
#content img {
	border: 10px solid #FFFFFF;
}

.article-content img {
	float: left;
	margin: 0 15px 0 0;
}

.article-content p {
	width: 75%;
	
}

.jp-audio {
	margin-bottom: 20px;
	margin-right: 40px;
}

iframe {
	margin-top: 20px;
	clear: both;
	float: left;
}

p {
  margin: 0 0 1em;
  padding: 0;
}

.view-artists-list img {
	margin: 0 15px 20px 0;
}

.view-artists-list h4 {
	margin: -20px 0 0 0;
}

.field-name-field-mainphoto img{
	clear: both;
	float: left;
}

.form-textarea-wrapper {
	width: 53%;
}


span.date-display-single {
	background: red;
	color: #FFF;
	padding: 5px;
	margin-bottom: 10px;
	font-variant: small-caps;
	font-size: 1em;	
}


.view-upcoming-gigs .views-row {
	margin-bottom: 20px;
}

.field-name-field-artist div {
	width: 70%;
	background: green;
	color: #FFF;
	font-variant: small-caps;
}

#giglist{margin:0; padding: 0;}
#giglist li{list-style:none; margin:0; padding: 0; margin-bottom:30px;float: left;}
#giglist .col-1{float:left; width:340px; margin-right:20px; margin-bottom:30px;}
#giglist .col-2{float:left; width:310px;}
#giglist .date {margin-bottom:15px;}

div.date span.date-display-single {
	width:50px;
	padding: 10px;
	color:#FFF;
	background:#CE1F1F;
	text-align:center;
	font-size: 1.5em;
	font-weight: bold;}

div.col-2 h1 {
	margin: 0;
}

.line{ clear:both; height:10px; background:url(images/pattern-1.png) center repeat-x; height:70px;}

em,
dfn {
  font-style: italic;
}
ins {
  border-bottom: none;
  text-decoration: none;
}
pre,
code,
tt,
samp,
kbd,
var {
  font-size: 1em;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif; /* sans-serif Safari hack */
}
blockquote,
q {
  font-style: italic;
  quotes: "" "";
}
blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote p {
  margin: 0;
}
strong,
dfn,
caption,
th {
  font-weight: 700;
}

/* Lists */
ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0;
}
.item-list ul,
.item-list ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Arial, sans-serif;
  font-size: .9em;
  width: 75%;
}
.item-list ul li {
  margin: 0 0 1.2em 0;
  padding: 0;
}
ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin-bottom: 0;
}
ul {
  list-style-type: disc;
}
ul ul ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
ul ul,
ul ul ul ul {
  list-style-type: circle;
}
dt {
  font-weight: 700;
}

.view-artist-front .title {
    background: #CE1F1F;
    color: #FFFFFF;
    height: 67px;
    margin-top: -120px;
    position: absolute;
    width: 210px;
    z-index: 300;
    float: right;
    text-align: right;
    padding: 17px 15px 0 10px;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: -1px;
    line-height: 1;
}

dd {
  margin: 0 0 1.5em 40px;
}

.view-artist-front .views-row {
	margin-bottom: 20px;
}

div.field-name-field-genre {
 font-size: 1.4em;
 margin-bottom: 15px;
 text-transform: uppercase;
}

.view-artist-front h6.field-content {
    background: #000;
    color: #FFFFFF;
    height: 27px;
    margin-top: -60px;
    position: absolute;
    width: 210px;
    z-index: 300;
    float: right;
    text-align: right;
    padding: 10px 15px 0 10px;
    font-size: 1.1em;
    font-variant: small-caps;
    line-height: 1;
}